.footer{
  padding: 30px 0 19px 0;

  .container{
    @include flex-box();
    @include justify-content(space-between);
    @include align-items(end);

    .logo{
      img{

      }
    }

    .req{
      color: black;
      font-size: 16px;
      font-weight: 900;
      line-height: 34px;
      margin: 0 60px 0 -47px;
    }

    .copyright{
      color: black;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
    }

    .developer{
      color: black;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
    }
  }

  .politics{
    color: #ef7f1a;
    display: block;
    margin: 0 0 20px 0;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    text-decoration: underline;
  }
}